
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
 @import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	margin: 0;
	font-family: Helvetica, sans-serif;
	background: #eee;
}

.tab-card{
	background:#fff;
	padding:15px;
	min-height:70vh;
}
.el-drawer__header {
    margin: 0 !important;
}
pre {
    font-size: 10px;
    margin: 0;
}
.el-form--label-top .el-form-item__label{
padding:0;
}
.toolbar{
border-bottom: 1px solid #EBEEF5;
}
.toolbar p{
    font-size: 12px;
    color: #545454;
    margin: 9px 0;
}
.el-pagination{
margin-top:5px;
}
