
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
 @import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	margin: 0;
	font-family: Helvetica, sans-serif;
	background: #eee;
}

.tab-card{
	background:#fff;
	padding:15px;
	min-height:70vh;
}
.el-drawer__header {
    margin: 0 !important;
}
pre {
    font-size: 10px;
    margin: 0;
}
